[run]
branch = True
parallel = True
source = pynumaflow
omit =
    pynumaflow/tests/*
    examples/*

[report]
exclude_lines =
    def start
    def start_async
    def __serve_async
    def start_multiproc
    def _run_server
    def _reserve_port
    if os.getenv("PYTHONDEBUG"):